body {
    background-color: black;
}

.textcolor{
    color:azure;  
}

.pd{
    padding: 10px;
}

.pdleftright {
    padding-left: 30;
    padding-right: 30;
}

.pd-30{
    padding: 30px;
}


.toppadding{
    position:relative; 
    top: 50px;}

.left{
display: flex;
justify-content: end;
}

.showItem{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.flex-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-col{
    display:flex;
    flex-direction: column;
}

.centre{
    text-align: center;
}

.space{
    display:flex;
    justify-content: space-between;
}

.whiteback{
    background-color:#ffffff !important;
}